body {
            background-color: rgba(25, 25, 25);
            color: white;
            font-family: arial;
        }
        .title{
            font-size: 30px;
            font-weight: bold;
        }
        .move-icon{
            height: 50px;
        }
        .move-btn{
            background-color: transparent;
            border: 2px solid white;
            border-radius: 50%;
            width: 120px;
            height: 120px;
            margin-right: 10px;
            cursor: pointer;
        }
        .result{
            font-size: 25px;
            font-weight: bold;
            margin-top: 50px;
        }
        .score{
            margin-top: 60px;

        }
        .reset-btn{
            background-color: white;
            cursor: pointer;
            border: none;
            padding: 10px 15px;
            font-size: 16px;
            font-weight: 500;
        }

        @media (max-width: 768px) {
            .move-btn {
                width: 80px;
                height: 80px;
            }
            .move-icon {
                height: 30px;
            }
        }